@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: #329443;
  flex-direction: column;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.input-box label {
  color: #333;
}

.form .input-box input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 20px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.form .gender {
  column-gap: 5px;
  cursor: pointer;
}

.gender input {
  accent-color: #329443;
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.form button {
  display: flexbox;
  height: 55px;
  width: 50%;
  color: #fff;
  font-size: 1rem;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 400;
  transition: all 0.2 ease;
  background-color: #329443;
}

.form button:hover {
  background-color: #136420;
}

.login-link {
  margin-top: 20px;
  text-align: center;
}

.password-toggle-icon {
  position: absolute;
  top: 71.5%;
  right: 3%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.password-toggle-icon i:hover {
  color: #000;
}

.btn {
  display: flexbox;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 0.9rem;
  padding: 0.3rem 0.7rem;
  color: var(--white);
  text-align: center;
}

.btn:hover {
  background: #a1a1a1;
}

.cancel-btn {
  display: flexbox;
  height: 55px;
  cursor: pointer;
  padding: 1rem 3rem;
  background-color: rgb(233, 33, 73);
  color: var(--white);
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  margin-top: 30px;
  border-radius: 6px;
  font-weight: 400;
  transition: all 0.2 ease;
  text-decoration: none;
}

.cancel-btn:hover {
  background-color: rgb(141, 6, 33);
}

footer {
  background-color: #329443;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

::-ms-reveal {
  display: none;
}
